.main {
  width: 100vw;
  text-align: center;
  position: relative;
}

.topBar {
  display: block;
  width: 100%;
  padding: 1rem;
  background: var(--gp-green);
}

.topBar h4 {
  font-size: 1.2rem;
}

.picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 15rem;
  padding: 1rem 1rem;
  color: var(--white);
}

.headerText {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

.headerText p {
  display: inline-block;
  color: white;
  font-size: 1.25rem;
  background-color: black;
  display: inline;
}

.heading {
  line-height: 120%;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  font-size: 4rem;
  width: 90%;
  margin: auto;
}

.highlighted {
  color: white;
}

.url {
  color: var(--white);
  font-size: .95rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6 );
  letter-spacing: 2px;
}

.slider {
  position: relative;
  height: 500px;
}

.sliderWrapper {
  display: flex;
  position: absolute;
  height: 100%;
  transition: all .5s ease;
}

.sliderItem {
  flex: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: cover;
}

.urgentIcon {
  height: 122px;
  width: 342px;
  transform: scale(1.2) rotate(-10deg);
  margin: auto;
  /* background-color: yellow; */
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 140% auto;
  background-position: -70px -90px;
  margin-bottom: 50px;
  background-image: url(https://imagedelivery.net/4UjGyQauyQ4cqduHdPPkww/2e6f995c-db65-4afb-c916-e1c69eb5a800/public);
}

@media (min-width: 992px) {
  .slider {
    height: 600px;
  }

  .headerText {
    bottom: 80px;
  }

  .headerText p {
    font-size: 1.75rem;
    padding: 0 10px;
  }

  .picture {
    min-height: 20rem;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .url {
    color: var(--white);
    font-size: 1.25rem;
  }

  .heading {
    font-size: 5rem;
    /* width: 80%; */
  }

  .urgentIcon {
    scale: 1.5;
    margin-bottom: 100px;
  }
}
