.main {
  width: 100vw;
  text-align: center;
  position: relative;
}

.topBar {
  display: block;
  width: 100%;
  padding: 1rem;
  background: var(--gp-green);
}

.topBar h4 {
  font-size: 1.2rem;
}

.picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 15rem;
  padding: 1rem 1rem;
  color: var(--white);
}

.headerText {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

.headerText p {
  display: inline-block;
  color: white;
  font-size: 1.25rem;
  background-color: black;
  display: inline;
}

.heading {
  line-height: 120%;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  /* font-size: 4rem; */
  font-size: 3rem;
  width: 90%;
  margin: auto;
}

.highlighted {
  color: white;
}

.url {
  color: var(--white);
  font-size: .95rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6 );
  letter-spacing: 2px;
}

.slider {
  position: relative;
  height: 350px;
}

.sliderWrapper {
  display: flex;
  position: absolute;
  height: 100%;
  transition: all .5s ease;
}

.sliderItem {
  flex: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.urgentIcon {
  width: 342px;
  height: 122px;
  transform: scale(.6) rotate(-10deg);
  background-size: cover;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url(https://imagedelivery.net/4UjGyQauyQ4cqduHdPPkww/7d9af76e-f7dc-4dde-7002-6f9cf0e54800/public);
}

.videoPlayer {
  background-color: rgba(0, 0, 0, 1);
}

.videoPlayer iframe {
  width: 100% !important;
  height: 302px !important;
}

@media (min-width: 800px) {
  .videoPlayer iframe {
    width: 800px !important;
    height: 500px !important;
  }
}


@media (min-width: 992px) {
  .slider {
    height: 500px;
  }

  .headerText {
    bottom: 80px;
  }

  .headerText p {
    font-size: 1.75rem;
    padding: 0 10px;
  }

  .picture {
    min-height: 20rem;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .url {
    color: var(--white);
    font-size: 1.25rem;
  }

  .heading {
    font-size: 5rem;
  }

  .urgentIcon {
    transform: scale(1.2) rotate(-10deg);
    margin-bottom: 30px;
  }
}
