.accordion {
  display: flex;
  flex-direction: column;
}

.accordionTab {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.accordionTabHeading {
  color: white;
}

.accordionTabButton {
  display: flex;
  width: 100%;
  background-color: var(--gp-green);
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  align-items: center;
}

.accordionTabButton img {
  transform: rotate(90deg);
}

.accordionTabContent {
  visibility: hidden;
  height: 0;
  /* transition: all .5s ease; */
  text-align: center;
}

.accordionTabContent h2 {
  margin-bottom: 1rem;
}

.accordionTab.open .accordionTabContent {
  visibility: visible;
  height: auto;
  overflow: auto;
}

.accordionTab.open .accordionTabButton img {
  transform: rotate(270deg);
}


@media (min-width: 768px) {
  .accordionTabContent p {
    font-size: 1.2rem !important;
  }
  
  .accordionTab.open .accordionTabContent {
    padding: 20px 60px;
  }
}

