.main {
  padding-top: 30px;
  overflow: hidden;
}

.heading {
  display: block;
  text-align: center;
  color: var(--gp-green);
  min-height: 2.5rem;
  font-size: 1.10rem;
}

.loader {
  display: block;
  width: 100%;
  text-align: center;
  min-height: 2.5rem;
}

.logo {
  margin: auto;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
}

p strong.highlighted {
  background-color: #c7ffbc;
}

main p.secondary {
  font-size: 0.95rem !important;
}

.main p {
  font-size: 1.1rem;
  line-height: 175%;
  margin-bottom: 1.5rem;
  text-align: center;
}

.logos {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 20px;
}

.ngosWrapper {
  margin-top: 4rem;
  text-align: center;
}

.logos .logo {
  width: 200px;
  height: 200px;
  background-color: rgb(216, 216, 216);
  flex-wrap: wrap;
}

@media (min-width: 780px) {
  .logos {
    grid-template-columns: repeat(3, 1fr);
  }

  .logos .logo {
    width: 230px;
    height: 230px;
  }
}

@media (min-width: 992px) {
  .main p {
    font-size: 1.3rem;
  }

  main p.secondary {
    font-size: 1.1rem !important;
  }

  .logos {
    grid-template-columns: repeat(4, 1fr);
  }

  .logos .logo {
    width: 230px;
    height: 230px;
  }
}
